<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <!-- <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input type="submit"> -->
        <div class="formFields">
          <label for="title">Title</label>
          <input type="text" name="title" id="title" />
        </div>
        <div class="formFields">
          <label for="description">Description</label>
          <input type="text" name="description" id="description" />
        </div>
        <div class="formFields">
          <label for="dueDate">Due Date</label>
          <input type="date" name="dueDate" id="dueDate" />
        </div>
        <div class="formFields">
          <label for="priority">Priority</label>
          <select name="priority" id="priority">
            <option value="">Select one</option>
            <option data-index="0" value="low">Low</option>
            <option data-index="1" value="medium">Medium</option>
            <option data-index="2" value="high">High</option>
            <option data-index="3" value="urgent">Urgent</option>
          </select>
        </div>
        <div class="formFields">
          <label for="progress">Progress</label>
          <select name="progress" id="progress">
            <option value="">Select one</option>
            <option data-index="0" value="todo">To Do</option>
            <option data-index="1" value="doing">Doing</option>
            <option data-index="2" value="done">Done</option>
          </select>
        </div>
        <div id="formProjectElem" class="formFields">
          <label for="project">Project</label>
          <select name="project" id="">
            <option value="">Select one</option>
            <% for(let i = 0; i < projects.length; i++) {%>
            <option data-index="<%= i %>" value="<%= projects[i].title %>"><%= projects[i].title %></option>
            <% } %>
          </select>
        </div>
        <div class="formFields">
          <button type="submit">Add to list</button>
        </div>
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>